@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ESTILOS COMUNES EN TODOS LOS HTML */

body {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";   
}

header {
    grid-area: header;
    background-color: #171717;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

nav {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home {
    margin-left: 90px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
}

.home, .menu-secciones a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: beige;
}

.menu-secciones {
    margin-right: 30px;
}

.menu-secciones a:hover{
    color: #C9D1D9;
    transition: color .25s;
    text-decoration: underline;
}

main {
    grid-area: main;
    background-image: radial-gradient(rgb(120, 120, 120), #171717);
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #C9D1D9;
}

footer {
    grid-area: footer;
    background-color: #171717;
}

footer div {
    margin: 5px;
    padding: 5px;
}

.copyright {
    padding-left: 45px;
    margin-left: 45px;
    font-family: 'Roboto Slab', serif;
    color: beige;
}

/* -------------------------------------- */

/* ESTILOS SECCIÓN INICIO */

.inicio-contenedor {
    margin: 15px;
    padding: 15px;
    margin-top: 50px;
    display: grid;
    grid-template-areas:
    "imagen"
    "titulo"
    "entradas";
    gap: 20px;
    justify-items: center;
    text-align: center;
}

.inicio-imagen {
    grid-area: imagen;
    margin-top: 10px;
}

.inicio-titulo {
    grid-area: titulo;
    margin-top: 30px;
    color: #171717;
}

.inicio-tour {
    display: grid;
    grid-area: entradas;
    grid-template-areas:
    "primero segundo"
    "tercero cuarto"
    "quinto sexto"
    "septimo octavo";
    margin-top: 20px;
}

.inicio-tour div, .ticket{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #C9D1D9;
    background-color: #222432;
    border: solid #171717 3px;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

.inicio-tour div:hover {
    font-size: 16px;
}

.ticket:hover {
    color: beige;
    font-size: 16px;
    transition: color .25s;
}

/* -------------------------------------- */

/* ESTILOS SECCIÓN ABOUT */

.about-contenedor {
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "texto-uno imagen-uno"
    "texto-dos imagen-uno"
    "imagen-dos texto-tres";
    gap: 10px;
    font-family: 'Roboto Slab', serif;
    color: beige;
    margin: 50px;
    padding: 50px;
    line-height: 2;
    align-items: center;
    font-size: 16px;
}

.about-titulo {
    grid-area: titulo;
}

.about-texto-uno {
    grid-area: texto-uno;
}

.about-texto-dos {
    grid-area: texto-dos;
}

.about-img-uno {
    grid-area: imagen-uno;
    height: 600px;
}

.about-img-dos {
    grid-area: imagen-dos;
}

.about-texto-tres {
    grid-area: texto-tres;
}

/* -------------------------------------- */

/* ESTILOS SECCIÓN DISCOGRAFÍA */

.discografia-fondo {
    background-color: #222431;
}

.discografia-contenedor {
    display: grid;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "album-uno disco-uno album-dos disco-dos"
    "album-tres disco-tres album-cuatro disco-cuatro";
    gap: 30px;
    margin: 50px;
    padding: 50px;
    line-height: 2;
}

.discografia-titulo {
    grid-area: titulo;
}

.album-uno {
    grid-area: album-uno;
}

.disco-uno {
    grid-area: disco-uno;
}

.album-dos {
    grid-area: album-dos;
}

.disco-dos {
    grid-area: disco-dos;
}

.album-tres {
    grid-area: album-tres;
}

.disco-tres {
    grid-area: disco-tres;
}

.album-cuatro {
    grid-area: album-cuatro;
}

.disco-cuatro {
    grid-area: disco-cuatro;
}

.discografia-contenedor iframe, .discografia-contenedor img {
    border-radius: 20px;
    height: 250px;
    width: 250px;
}

.discografia-contenedor img:hover {
    height: 260px;
    width: 260px;
}

.discografia-contenedor iframe:hover {
    height: 420px;
    width: 310px;
    transition: height .5s;
}

/* -------------------------------------- */

/* ESTILOS SECCIÓN GALERÍA */

.galeria-contenedor {
    display: grid;
    grid-template-areas:
    "titulo-fotos"
    "fotos"
    "titulo-videos"
    "videos";
    margin: 50px;
    padding: 50px;
    line-height: 2;
}

.galeria-titulo-uno {
    grid-area: titulo-fotos;
}

.galeria-fotos {
    grid-area: fotos;
    display: grid;
    grid-template-columns: 300px 700px;
    grid-template-areas:
    "foto-uno foto-dos"
    "foto-cuatro foto-tres"
    "foto-cinco foto-seis";
    gap: 5px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-uno {
    grid-area: foto-uno;
}

.img-dos {
    grid-area: foto-dos;
    width: 700px;
    height: 300px;
}

.img-tres {
    grid-area: foto-tres;
    width: 700px;
    height: 300px;
}

.img-cuatro {
    grid-area: foto-cuatro;
}

.img-cinco {
    grid-area: foto-cinco;
}

.img-seis {
    grid-area: foto-seis;
    width: 700px;
    height: 300px;
}

.galeria-fotos img, .galeria-videos iframe {
    border-radius: 20px;
}

.galeria-titulo-dos {
    grid-area: titulo-videos;
}

.galeria-videos {
    display: grid;
    grid-area: videos;
    grid-template-areas:
    "uno dos"
    "tres cuatro";
    gap: 5px;
    margin-top: 30px;
    justify-content: center;
}

.video-uno {
    grid-area: uno;
}

.video-dos {
    grid-area: dos;
}

.video-tres {
    grid-area: tres;
}

.video-cuatro {
    grid-area: cuatro;
}

.galeria-videos iframe:hover {
    width: 510px;
    height: 310px;
}
/* -------------------------------------- */

/* ESTILOS SECCIÓN CONTACTO */

.contacto-contenedor {
    margin: 50px;
    padding: 50px;
    line-height: 2;
}

h3, label {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #C9D1D9;
}

.nombre, .email, .msj  {
    width: 300px;
    padding: 3px 3px;
    border-radius: 5px;
    line-height: 1.5;
}

.logos-redes a img {
    width: 30px;
    height: 30px;
}

.logos-redes a:hover img {
    width: 40px;
    height: 40px;
}

/* -------------------------------------- */